PORT=9000
DOMAIN=example.com
HOST=0.0.0.0
VENV=venv
SITE_NAME=pub

DEBUG=True

APP_ENV=Development
APP_VERSION=1.0.0
BUILD_DATE=30-01-2026

SITE_FULL_URL=http://127.0.0.1:${PORT}

DJANGO_SECRET_KEY=django-insecure-secret-key


ALLOWED_HOSTS=localhost,127.0.0.1,[::1],example.com


